body {
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn1 {
    padding-left: 20px;
    padding-right: 20px;
    color: #006A50;
}

.btn2 {
    background-color: #006A50;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font: bold;
}

.btn3 {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn4 {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;   
}

.btn6 {
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    background-color: green;
    margin-top: 20px;
}
.btn7 {
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    background-color: green;
    margin-top: 20px;  
}

.btn5 {
    background-color: rgb(174, 174, 27);
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;     
}

.bannerSection {
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.image img {
  height: 200px;
  width: 200px;
}

.parent-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.card {
    border: 1px solid gray;
    border-radius: 15px;
    height: 200px;
    width: 150px;
    padding: 20px;
}

.parent-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.cards1 {
    border: 1px solid gray;
    border-radius: 15px;
    height: 250px;
    width: 200px; 
    padding: 20px;
    background-color: #99b9ef;
}

.cards2 {
    border: 1px solid gray;
    border-radius: 15px;
    height: 250px;
    width: 200px; 
    padding: 20px;  
    background-color: #8cdab7;
}

.cards3 {
    border: 1px solid gray;
    border-radius: 15px;
    height: 250px;
    width: 200px; 
    padding: 20px;
    background-color: #ecd192;
}

.Lorem {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    opacity: 100%;
    margin-bottom: 20px;
    background-image: url(assets/quote-bg.png);
}

.donate h4, p{
    text-align: center;
    justify-content: center;
     
}

.donate {
    margin-top: 70px;
    margin-bottom: 30px;
}

.donate-parent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;  
}

.donate-card {
    height: 50px;
    width: 100px;
    border: 2px solid gray;
    border-radius: 10px;
     
}

.input {
    width: full;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}

.input-text {

}

.first-footer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.first-footer h2, p {
    text-align: center; 
}

.last-footer h4{
    text-align: center; 
} 

.icon {
    display: flex;
    justify-content: center;
    gap: 15px;
}